/*
        Helper
-----------------------------*/
.bold {
    font-weight: bold;
}
.tar {
    text-align: right;
    display: block;
}
.tal {
    text-align: left;
}
.tac {
    text-align: center;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.red {
    color: $color-red;
}
.orange {
    color: $text-primary;
}
.orange2 {
    color: $orange;
}
.yellow {
    color: $yellow;
}
.mB0 {
    margin-bottom: 0!important;
}
.pB0 {
    padding-bottom: 0!important;
}
.pB3 {
    padding-bottom: 3vw !important;
}
.pB10 {
    padding-bottom: 10vw !important;
}
.pB12 {
    padding-bottom: 12vw !important;
}
.pT0 {
    padding-top: 0!important;
}
.pB1 {
    padding-bottom: 1vw !important;
}
.pB2 {
    padding-bottom: 2vw !important;
}
.pB3 {
    padding-bottom: 3vw !important;
}
.overHidden {
    overflow: hidden;
}
