/*
        Helper
-----------------------------*/
.bold {
    font-weight: bold;
}
.tar {
    text-align: right;
    display: block;
}
.tal {
    text-align: left;
}
.tac {
    text-align: center;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.red {
    color: $color-red;
}
.orange {
    color: $text-primary;
}
.pB0 {
    padding-bottom: 0!important;
}
.pT0 {
    padding-top: 0!important;
}
.overHidden {
    overflow: hidden;
}
