/*
        Helper
-----------------------------*/
.bold {
    font-weight: bold;
}
.tar {
    text-align: right;
    display: block;
}
.tal {
    text-align: left;
}
.tac {
    text-align: center;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.pB0 {
    padding-bottom: 0!important;
}
