@charset "UTF-8";
#container:after, .listItems:after, #header:after, #navMain .sub_next:after, .footer:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, em, img, small, strong, b, u, i, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

a img {
  border: none;
}

article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Hiragino Sans, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "游ゴシック  Medium", "A-OTF Gothic MB101 Pro", meiryo, sans-serif;
  color: #373737;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Hiragino Sans, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "游ゴシック  Medium", "A-OTF Gothic MB101 Pro", meiryo, sans-serif;
}

img {
  width: 100%;
  vertical-align: middle;
}

li, ol {
  list-style: none;
}

button:focus, input:focus, a:focus {
  outline: none;
}

#container:after, .listItems:after, #header:after, #navMain .sub_next:after, .footer:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*------------------- Wraper -------------------*/
body {
  padding-top: 16.1vw;
}

#container {
  position: relative;
  background: #fff;
  width: 100%;
  margin: 0 auto;
}

.section_local {
  width: 100%;
  padding-left: 3.5%;
  padding-right: 3.5%;
}

.container_box {
  padding-left: 8.7%;
  padding-right: 8.7%;
}

.listFlex {
  display: flex;
  align-items: flex-start;
}

/*------------------- Component -------------------*/
.title_header {
  background: #25425c;
  font-size: 2.4vw;
  justify-content: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 3.5vw 0 2.6vw;
}

.title_header span {
  font-size: 4.8vw;
}

.title_h3 {
  font-weight: bold;
  color: #60adaf;
  font-size: 4vw;
  line-height: 1.5;
}

.title_h4 {
  color: #174268;
  font-size: 4.5vw;
  line-height: 1.5;
  font-weight: bold;
}

.title_A {
  font-size: 4vw;
  line-height: 1.5;
  font-weight: bold;
  padding-bottom: 1.5vw;
}

.title_highlight {
  padding: 14px 0 10px;
  background: #f6f6f6;
  font-weight: bold;
  font-size: 4vw;
  border-left: 2.4vw solid #82b6c9;
}

.text {
  font-size: 3.9vw;
  line-height: 1.7;
}

.linkPlay {
  display: flex;
  align-items: center;
  font-size: 4vw;
  padding-top: 4.2vw;
  padding-bottom: 3.3vw;
}

.linkPlay .fa {
  font-size: 5vw;
  color: #e38807;
}

.linkPlay a {
  margin-left: 6px;
  text-decoration: underline;
}

.navSub {
  background: #e9e9e9;
  padding: 4.2vw 0;
}

.navSub ul {
  display: flex;
  flex-wrap: wrap;
}

.navSub li {
  position: relative;
  border-radius: 50px;
  text-align: center;
  font-size: 3.3vw;
  line-height: 1.4;
  margin-right: 1.6vw;
  width: calc((100% / 2) - 0.8vw + (0px / 2));
  background: #ffffff;
}

.navSub li:after {
  content: "\f078 ";
  font-size: 3.3vw;
  font-family: 'FontAwesome';
  color: #25425c;
  position: absolute;
  top: calc(50% - 2.5vw);
  right: 4vw;
}

.navSub li.row_01 {
  margin-bottom: 2.3vw;
}

.navSub li.primary {
  width: 100%;
  font-size: 4vw;
  margin-right: 0;
}

.navSub li.primary a {
  padding: 4vw 0 3.3vw;
}

.navSub li.active {
  background-color: #d6e6f0;
}

.navSub li.right {
  margin-right: 0;
}

.navSub li a {
  padding: 2.4vw 8.5vw 2vw;
  color: #25425c;
  display: flex;
  min-height: 12vw;
  align-items: center;
  justify-content: center;
}

.clearfix {
  clear: both;
}

/*
        Helper
-----------------------------*/
.bold {
  font-weight: bold;
}

.tar {
  text-align: right;
  display: block;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.red {
  color: #c4253b;
}

.orange {
  color: #e4a759;
}

.orange2 {
  color: #e38807;
}

.yellow {
  color: #ddc3a1;
}

.mB0 {
  margin-bottom: 0 !important;
}

.pB0 {
  padding-bottom: 0 !important;
}

.pT0 {
  padding-top: 0 !important;
}

.overHidden {
  overflow: hidden;
}

/*    Header
--------------------------------------*/
#header {
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  color: #e38807;
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid #ededed;
}

#header .fa {
  font-size: 6vw;
}

#header .logo {
  width: 51.7%;
}

#header .iconHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-left: 1px solid #ededed;
}

#header .nameIcon {
  padding-top: 2vw;
  font-size: 2.1vw;
  line-height: 1.2;
  text-align: center;
}

#header .mail {
  width: 16.1%;
  padding-bottom: 1.2vw;
}

#header .phone {
  width: 16.1%;
  padding-bottom: 1.2vw;
}

#header .btnNav {
  color: #0e1046;
  width: 16.1%;
  justify-content: center;
}

#header .btnNav .fa {
  font-size: 9vw;
}

#navMain {
  display: none;
  position: fixed;
  overflow: auto;
  top: 16.1vw;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  z-index: 99;
}

#navMain li a {
  font-weight: bold;
  font-size: 3.5vw;
  display: block;
  padding: 4.5vw 6vw;
  border-bottom: 1px solid #ededed;
}

#navMain .sub_next .fa {
  float: right;
}

#navMain .sub_nav_2 {
  display: none;
}

#navMain .sub_nav_2 a {
  padding-left: 10vw;
}

/*    Footer
--------------------------------------*/
.footer {
  font-size: 2.6vw;
}

.footer .infoCompany .container_box {
  padding: 0 6.7% 2rem;
}

.footer .infoCompany .container_box.row_01 {
  background: #ffffff;
  padding: 5rem 8.7% 6.2rem;
}

.footer .infoCompany .btn_02 {
  padding-top: 1.6rem;
}

.footer .infoCompany .company_info {
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
  padding-top: 8.5vw;
}

.footer .infoCompany .company_info p {
  font-size: 3.2vw;
  line-height: 1.5;
}

.footer .infoCompany .company_info h4 {
  line-height: 1.5;
  font-size: 4.5vw;
  font-weight: normal;
}

.footer .footer_bottom {
  background: #ededed;
}

.footer .footer_bottom .container_box {
  padding: 17px 6.7%;
}

.footer .footer_bottom a {
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
  border-bottom: 1px solid #000;
}

.footer .footer_bottom .copyright {
  font-size: 2.3vw;
  font-weight: bold;
}

.footer .footer_bottom h3 {
  font-size: 2.9vw;
  font-weight: normal;
  text-align: center;
  padding-bottom: 18px;
}
