/* Component inheritance
-----------------------------------------*/
.page-main {
  padding-top: 8vw;
}

.title_header {
  background: #6d4d7e;
}

.title_highlight {
  border-left: 2.4vw solid #6d4d7e;
  padding-left: 2vw;
}

.listButton_01 {
  padding: 0 0 10vw;
}

.listButton_01 a {
  display: block;
  border: 1vw solid #f0f0f0;
}

.imgContent {
  padding: 2vw 0 3vw;
}

.text {
  font-size: 4vw;
}

.title_h2 {
  line-height: 1.5;
  padding-bottom: 2.9vw;
  padding-top: 2vw;
}

.title_h2.brd {
  font-size: 4.8vw;
  color: #4e8d8f;
  border-bottom: 0.6vw solid #dfefef;
  padding-bottom: 1.6vw;
  margin-bottom: 2.2vw;
}

.post {
  font-size: 4vw;
}

.post .text {
  padding-bottom: 6vw;
}

.list_table li .title_highlight {
  margin-bottom: 2.6vw;
}

.list_table h5 {
  line-height: 1.5;
  font-weight: bold;
}

.toTop {
  text-align: right;
  font-size: 4vw;
  color: #010101;
  border-bottom: 2px solid #c4c4c4;
  padding-bottom: 3.5vw;
}

/*-----------------------
        Page trouble
-----------------------------------------*/
#trouble__local-01 .title_h2 {
  margin-bottom: 4vw;
}

#trouble__local-01 .title_qa {
  padding-left: 12vw;
  background: url("../images/inheritance/trouble/icon_Q_purple.png") no-repeat;
  background-position: top left;
  background-size: 12%;
  font-size: 4.2vw;
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 4.5vw;
}

#trouble__local-01 .answerText {
  line-height: 1.5;
  font-size: 4vw;
  padding-bottom: 6vw;
}

#trouble__local-01 .answerText:before {
  content: "A. ";
  font-weight: bold;
}

#trouble__local-01 .table_qa_top {
  padding: 0vw 4.6vw 4vw;
  background: #e6deeb;
  font-size: 4vw;
}

#trouble__local-01 .table_qa_top .group_qa {
  padding-top: 6vw;
}

#trouble__local-01 .table_qa_top .title_qa_top {
  font-weight: bold;
  padding-bottom: 2.5vw;
  line-height: 1.5;
}

#trouble__local-01 .table_qa_top .text {
  padding-bottom: 6vw;
}

#trouble__local-01 .table_qa_top .link_question {
  line-height: 1.5;
  padding-bottom: 2vw;
}

#trouble__local-01 .table_qa_top .link_question a {
  text-decoration: underline;
}

#trouble__local-01 .table_qa_top .link_question:before {
  content: "Q. ";
  color: #6d4d7e;
  font-weight: bold;
}
