/* Component labor
-----------------------------------------*/
.title_header {
  background: #418cac;
}

.title_h2 {
  font-size: 4.8vw;
  color: #4e8d8f;
  border-bottom: 0.6vw solid #dfefef;
  line-height: 1.4;
  padding-bottom: 1.2vw;
}

.listButton_01 {
  padding: 0 0 10vw;
}

.listButton_01 a {
  display: block;
  border: 1vw solid #f0f0f0;
}

.toTop {
  text-align: right;
  font-size: 4vw;
  color: #010101;
  border-bottom: 2px solid #c4c4c4;
  padding-bottom: 3.5vw;
}

/* Custom checkbox*/
input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\f096";
  font-family: "FontAwesome";
  display: inline-block;
  position: relative;
  left: -2.6vw;
}

input[type=checkbox]:checked + label:before {
  content: "\f046";
  position: relative;
  left: -2.6vw;
}

/*-----------------------
        Page merit
-----------------------------------------*/
#merit__local-01 {
  padding-top: 4vw;
}

#merit__local-01 p {
  font-size: 3.9vw;
  line-height: 1.7;
  padding: 3.2vw 0;
}

#merit__local-01 .noteMerit {
  font-weight: bold;
  padding: 4.6vw 0 1vw;
}

#merit__local-01 .textReply {
  padding: 4.6vw 0 1vw;
  line-height: 1.7;
  font-weight: bold;
  color: #e4a759;
}

#merit__local-01 .note_description {
  font-size: 3vw;
  line-height: 1.3;
  padding-bottom: 4vw;
}

#merit__local-01 .meritItems {
  padding-top: 4.2vw;
  padding-bottom: 4.5vw;
}

#merit__local-01 .imgContent {
  padding: 3vw 0 1.6vw;
}

/*-----------------------
        Page solution
-----------------------------------------*/
#solution__local-01 {
  padding-top: 8.2vw;
}

#solution__local-01 p {
  font-size: 3.9vw;
  line-height: 1.7;
  padding: 3.2vw 0;
}

#solution__local-01 .noteSolution {
  font-weight: bold;
  padding: 4.6vw 0 1vw;
}

#solution__local-01 .textReply {
  padding: 4.6vw 0 1vw;
  line-height: 1.7;
  font-weight: bold;
  color: #e4a759;
}

#solution__local-01 .linkPlay .fa {
  font-size: 8vw;
}

#solution__local-01 .note_description {
  font-size: 3vw;
  line-height: 1.3;
  padding-bottom: 4vw;
}

#solution__local-01 .solutionItems {
  padding-bottom: 4.5vw;
}

#solution__local-01 .diagram {
  text-align: center;
  font-size: 4.4vw;
  font-weight: bold;
  color: #83b6c9;
  padding-top: 3vw;
  padding-bottom: 6.5vw;
}

#solution__local-01 .diagram .light {
  color: #ffffff;
  background: #83b6c9;
}

#solution__local-01 .diagram h5 {
  position: relative;
  z-index: 10;
  border: 0.4vw solid #83b6c9;
  padding: 3.4vw;
  margin-bottom: 2.9vw;
  background: #ffffff;
}

#solution__local-01 .diagram h5:after {
  content: "";
  position: absolute;
  z-index: 0;
  background: #83b6c9;
  width: 1.5vw;
  height: 3.4vw;
  bottom: -3.4vw;
  left: calc(50% - 1vw);
}

#solution__local-01 .diagram h5.last:after {
  display: none;
}

#solution__local-01 .diagram .branch_diagram {
  padding-top: 2vw;
  position: relative;
}

#solution__local-01 .diagram .branch_diagram:after {
  content: "";
  position: absolute;
  z-index: 0;
  background: #83b6c9;
  width: 1.5vw;
  height: 12vw;
  top: -6vw;
  right: calc(50% - 5.4vw);
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

#solution__local-01 .diagram .branch_diagram:before {
  content: "";
  position: absolute;
  z-index: 0;
  background: #83b6c9;
  width: 1.5vw;
  height: 12vw;
  top: -6vw;
  left: calc(50% - 5.4vw);
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

#solution__local-01 .diagram .branch_diagram li {
  float: left;
  width: 47%;
  color: #ffffff;
  background: #83b6c9;
  padding: 3.8vw 2vw 3.4vw;
}

#solution__local-01 .diagram .branch_diagram .right {
  float: right;
}

/*-----------------------
        Page trouble
-----------------------------------------*/
#trouble__local-01 {
  padding-top: 9vw;
}

#trouble__local-01 .title_h2 {
  margin-bottom: 4vw;
}

#trouble__local-01 .title_qa {
  padding-left: 12vw;
  background: url("../images/labor/trouble/icon_Q_blue.png") no-repeat;
  background-position: top left;
  background-size: 12%;
  font-size: 4.2vw;
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 4.5vw;
}

#trouble__local-01 .answerText {
  line-height: 1.6;
  font-size: 4vw;
  padding-bottom: 6vw;
}

#trouble__local-01 .answerText:before {
  content: "A. ";
  font-weight: bold;
}

#trouble__local-01 .table_qa_top {
  padding: 0vw 4.6vw 4vw;
  background: #f4fcff;
  font-size: 4vw;
  margin-bottom: 9vw;
}

#trouble__local-01 .table_qa_top .group_qa {
  padding-top: 6vw;
}

#trouble__local-01 .table_qa_top .title_qa_top {
  font-weight: bold;
  padding-bottom: 2.5vw;
  line-height: 1.5;
}

#trouble__local-01 .table_qa_top .text {
  padding-bottom: 6vw;
}

#trouble__local-01 .table_qa_top .link_question {
  line-height: 1.5;
  padding-bottom: 2vw;
}

#trouble__local-01 .table_qa_top .link_question a {
  text-decoration: underline;
}

#trouble__local-01 .table_qa_top .link_question:before {
  content: "Q. ";
  color: #418cac;
  font-weight: bold;
}

#trouble__local-01 .listButton_01 {
  padding-top: 18vw;
}

/*-----------------------
        Page advice1
-----------------------------------------*/
#advice1__local-01 {
  padding-top: 9vw;
}

#advice1__local-01 .listCheckBox {
  padding-top: 6.5vw;
}

#advice1__local-01 .post {
  padding-bottom: 8vw;
}

#advice1__local-01 .post .title_h2 {
  margin-bottom: 2.2vw;
}

#advice1__local-01 .imgContent {
  padding: 2.2vw 0;
}

#advice1__local-01 .orange2 {
  font-weight: bold;
}

#advice1__local-01 .itemsCheck {
  padding-bottom: 4.6vw;
  color: #418cac;
  line-height: 1.5;
  padding-left: 5.6vw;
  text-indent: -1.6vw;
  font-size: 4vw;
  font-weight: bold;
}

#advice1__local-01 .box_details {
  margin-top: 12vw;
  border: 1.2vw solid #dfefef;
  padding: 2vw 3.6vw;
}

#advice1__local-01 .box_details .title_h3 {
  margin-top: -11vw;
  margin-bottom: 2vw;
}

/*-----------------------
        Page advice2
-----------------------------------------*/
#advice2__local-01 {
  padding-top: 9vw;
}

#advice2__local-01 .listCheckBox {
  padding-top: 6.5vw;
}

#advice2__local-01 .post {
  padding-bottom: 8vw;
}

#advice2__local-01 .post .title_h2 {
  padding-bottom: 5.2vw;
  border-bottom: 0;
}

#advice2__local-01 .orange2 {
  font-weight: bold;
}

#advice2__local-01 .itemsCheck {
  padding-bottom: 4.6vw;
  color: #418cac;
  line-height: 1.5;
  padding-left: 5.6vw;
  text-indent: -1.6vw;
  font-size: 4vw;
  font-weight: bold;
}

#advice2__local-01 .box_details {
  margin-top: 12vw;
  border: 1.2vw solid #dfefef;
  padding: 2vw 3.6vw;
}

#advice2__local-01 .box_details .title_h3 {
  margin-top: -11vw;
  margin-bottom: 2vw;
}
