@import "base/variable";

/*-----------------------
        Page .html
-----------------------------------------*/
#local_01 {
    .section_local {
        background: $color-primary;
        padding-bottom: 3.3rem;
    }
    .container_box {
        background: $color-a;
        padding-top: 4rem;
        padding-left: 3.3%;
        padding-right: 3.3%;
    }
    .text {
        color: #252525;
        font-family: $font-gothic;
        padding: 0 2.2% 3.2rem;
        font-size: 3rem;
        line-height: 4.3rem;
        // font-weight: bold;
    }
}
/*  local_02
------------------------------------*/
#local_02 {
    color: #252525;
    .container_box {
        background: $color-a;
        padding: 5.8rem 6.7% 7.7rem;
    }
    .btn {
        &_02 {
            padding-top: 4.5rem;
        }
        &_03 {
            padding-top: 3.7rem;
        }
        &_04 {
            padding-top: 3.3rem;
        }
    }
    .listMenu {
        li {
            a {
                border: 0.5rem solid $color-brd;
                border-top: 0;
                padding: 2.5rem 3.8rem;
                font-size: 30px;
                line-height: 3.6rem;
                background: url('../images/arrrow_news_blue.png') no-repeat 99% 92%;
                display: block;
            }
        }
    }
}
/*  local_03
------------------------------------*/
#local_03 {
    background: #f3f3f3;
    padding: 3.9rem 0;
    font-family: $font-gothic;
    .listNews {
        padding-top: 2.5rem;
        font-size: 3rem;
        line-height: 4.3rem;
        dt {
            letter-spacing: 4px;
            padding-top: 1.8rem;
            color: $color-1;
        }
        a {
            color: #393939;
            text-decoration: underline;
        }
    }
}

#local_04 {
    .container_box {
        padding: 0 6.7% 2rem;
        &.row_01 {
            background: $color-a;
            padding: 5rem 8.7% 6.2rem;
        }
    }
    .btn_02 {
        padding-top: 1.6rem;
    }
    .company_info {
        font-family: $font-hiragino;
        padding-top: 7.5rem;
        p {
            font-size: 2.4rem;
            line-height: 3.7rem;
        }
        h4 {
            line-height: 4.7rem;
            font-size: 3.4rem;
            font-weight: normal;
        }
    }
}


/*-----------------------
        Responsive for device < 680px
-----------------------------------------*/
@media screen and (max-width: 680px) {
    html {
        font-size: 7px;
    }
}
/*-----------------------
        Responsive for device < 590px
-----------------------------------------*/
@media screen and (max-width: 590px) {
    html {
        font-size: 5px;
    }
}
