/*-----------------------
        Page index
-----------------------------------------*/
#topPage__local-01 {
  position: relative;
  top: -1.5vw;
}

#topPage__local-01 .section_local {
  background: #d6e6f0;
  padding-bottom: 4.4vw;
}

#topPage__local-01 .container_box {
  background: #ffffff;
  padding-top: 4.6vw;
  padding-left: 5%;
  padding-right: 5%;
}

#topPage__local-01 .text {
  color: #252525;
  font-family: "A-OTF Gothic MB101 Pro", sans-serif;
  padding: 0 0 3.2rem;
  font-size: 4vw;
  line-height: 1.6;
}

#topPage__local-02 {
  color: #252525;
}

#topPage__local-02 .container_box {
  background: #ffffff;
  padding: 6.2vw 6.7% 10vw;
}

#topPage__local-02 .btn_02 {
  padding-top: 6vw;
}

#topPage__local-02 .btn_03 {
  padding-top: 4.6vw;
}

#topPage__local-02 .btn_04 {
  padding-top: 4.4vw;
}

#topPage__local-02 .listMenu {
  display: none;
}

#topPage__local-02 .listMenu.active {
  display: block;
}

#topPage__local-02 .listMenu li a {
  border: 0.5vw solid #dedede;
  border-top: 0;
  padding: 2.5vw 4.8vw 2.2vw;
  font-size: 4vw;
  line-height: 1.5;
  background: url("../images/root/introduce/arrrow_news_blue.png") no-repeat 99.5% 95%;
  background-size: 2.5%;
  display: block;
}

#topPage__local-03 {
  background: #f3f3f3;
  padding: 5.2vw 0;
  font-family: "A-OTF Gothic MB101 Pro", sans-serif;
}

#topPage__local-03 .listNews {
  padding-top: 2.5vw;
  font-size: 4vw;
  line-height: 1.5;
}

#topPage__local-03 .listNews dt {
  letter-spacing: 4px;
  padding-top: 3.7vw;
  color: #45859f;
}

#topPage__local-03 .listNews a {
  color: #393939;
  text-decoration: underline;
}

.infoCompany_bottom .container_box {
  padding: 0 6.7% 2.6vw;
}

.infoCompany_bottom .container_box.row_01 {
  background: #ffffff;
  padding: 6.6vw 8.7% 8.2vw;
}

.infoCompany_bottom .btn_02 {
  padding-top: 2.1vw;
}

/*-----------------------
        Page introduce1
-----------------------------------------*/
#intro-01__local-01 {
  background: url("../images/root/introduce/bg_01_A.jpg") no-repeat;
  background-size: 100%;
}

#intro-01__local-01 .title_h2 {
  padding: 5.3vw 0 2.6vw;
}

#intro-01__local-01 .title_h3 {
  padding-bottom: 5.6vw;
  font-weight: bold;
}

#intro-01__local-01 .title_h4 {
  padding: 2.5rem 0 2rem;
}

#intro-01__local-01 .text {
  padding-bottom: 7.5vw;
}

#intro-01__local-01 .pb56 {
  padding-bottom: 5.6vw;
}

#intro-01__local-02 .container_box {
  padding: 2.5vw 6.7%;
}

#intro-01__local-02 .company_info {
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
  padding-top: 8.5vw;
}

#intro-01__local-02 .company_info p {
  font-size: 3.2vw;
  line-height: 3.7rem;
}

#intro-01__local-02 .company_info h4 {
  line-height: 4.7rem;
  font-size: 4.5vw;
  font-weight: normal;
}

/*-----------------------
        Page introduce2
-----------------------------------------*/
#intro-02__local-01 {
  padding-top: 8.6vw;
}

#intro-02__local-01 .infoPersonal {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#intro-02__local-01 .listInfo {
  font-size: 4vw;
  line-height: 1.5;
}

#intro-02__local-01 .listInfo .row_info {
  padding: 4.6vw 0 3.3vw;
}

#intro-02__local-01 .listInfo .row_info:not(:last-child) {
  border-bottom: 0.5vw solid #e2e1dc;
}

#intro-02__local-01 .text {
  padding-bottom: 7vw;
}

#intro-02__local-01 .title_A {
  padding-bottom: 2.2vw;
  background-size: 5%;
}

#intro-02__local-01 .fa-circle-o {
  color: #60adaf;
  margin-right: 8px;
}

#intro-02__local-01 .list_content_info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#intro-02__local-01 .list_content_info .col_01 {
  width: 19.6vw;
}

#intro-02__local-01 .list_content_info .col_02 {
  width: 62.9vw;
}

/*-----------------------
        Page introduce3
-----------------------------------------*/
#intro-03__local-01 {
  padding-bottom: 2vw;
}

#intro-03__local-01 .title_h2.first {
  padding: 5vw 0 5.6vw;
}

#intro-03__local-01 .row_news .text {
  padding: 3vw 0 6.5vw;
}

/*-----------------------
        Page works
-----------------------------------------*/
#works__local-01 .post {
  padding-top: 4.2vw;
}

#works__local-01 .post .title_h2 {
  font-size: 4.8vw;
  color: #4e8d8f;
  border-bottom: 0.6vw solid #4e8d8f;
  padding-bottom: 1.6vw;
  margin-bottom: 4.2vw;
}

#works__local-01 .post .description {
  padding-top: 4vw;
}

#works__local-01 .document_post {
  margin: 3.3vw 0 10.6vw;
  border: 2px solid #4e8d8f;
  text-align: center;
  font-size: 4.6vw;
  padding-bottom: 2.6vw;
}

#works__local-01 .document_post li {
  padding-top: 2.6vw;
}

/*-----------------------
        Page step
-----------------------------------------*/
#step__local-01 {
  padding-top: 4vw;
}

#step__local-01 .noteStep {
  color: #e4a759;
  font-size: 4.5vw;
  font-weight: bold;
  padding: 4.6vw 0 1vw;
}

#step__local-01 .note_description {
  font-size: 3vw;
  line-height: 1.3;
  padding-bottom: 4vw;
}

#step__local-01 .stepItems {
  padding-top: 4.2vw;
  padding-bottom: 8vw;
}

#step__local-01 .stepItems .title_h2 {
  font-size: 4.8vw;
  color: #4e8d8f;
  border-bottom: 0.6vw solid #dfefef;
  padding-bottom: 1.6vw;
  margin-bottom: 2.2vw;
}

#step__local-01 .stepItems .title_A {
  position: relative;
  padding-bottom: 0.5vw;
}

#step__local-01 .box_mail {
  background: url("../images/root/step/bg_box.jpg");
  background-size: 100%;
  padding-bottom: 2.5%;
  margin-top: -7vw;
}

#step__local-01 .box_mail h3 {
  margin-right: -3px;
}

#step__local-01 .box_mail .content_box {
  font-size: 3.7vw;
  width: 95%;
  margin: auto;
  background: #ffffff;
  padding: 2.5%;
  line-height: 1.5;
}

/*-----------------------
        Page cost
-----------------------------------------*/
#cost__local-01 {
  padding-top: 8.6vw;
}

#cost__local-01 .title_h2 {
  padding-bottom: 2.9vw;
}

#cost__local-01 .title_h2.brd {
  font-size: 4.8vw;
  color: #4e8d8f;
  border-bottom: 0.6vw solid #dfefef;
  padding-bottom: 1.6vw;
  margin-bottom: 2.2vw;
}

#cost__local-01 .post {
  font-size: 4vw;
  padding-bottom: 7.3vw;
}

#cost__local-01 .list_table li {
  padding: 2vw 0;
}

#cost__local-01 .list_table li .title_highlight {
  margin-bottom: 1.4vw;
}

#cost__local-01 .imgContent {
  padding: 4vw 0 2vw;
}

/*-----------------------
        Page QA
-----------------------------------------*/
#qa__local-01 {
  counter-reset: counterQA;
}

#qa__local-01 p {
  line-height: 1.7;
}

#qa__local-01 .noteQA {
  padding: 9.7vw 0 6.6vw;
  font-size: 3.7vw;
}

#qa__local-01 .qaItems {
  font-size: 4vw;
  padding-bottom: 3.3vw;
}

#qa__local-01 .qaItems:last-child {
  padding-bottom: 13vw;
}

#qa__local-01 .qaItems .questionText {
  position: relative;
  padding: 2.6vw 2.4vw 2.6vw 13vw;
  border: 1px solid #d1d1d1;
  line-height: 1.5;
  color: #666;
  font-weight: bold;
  background: url("../images/root/qa/bg_question.png");
  background-size: 100% 100%;
}

#qa__local-01 .qaItems .questionText:before {
  counter-increment: counterQA;
  content: "Q" counter(counterQA) ".";
  position: absolute;
  left: 2.5vw;
  font-weight: bold;
  color: #4e8d8f;
}

#qa__local-01 .qaItems .questionText:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #cfdfdf;
  width: 100%;
  height: 4px;
}

#qa__local-01 .qaItems .answerText {
  background: #fffdee;
  margin: 3.3vw 1vw 0;
  padding: 6vw;
  display: none;
}

#qa__local-01 .qaItems .answerText.active {
  display: block;
}

#qa__local-01 .qaItems .answerText:before {
  content: "A. ";
  font-weight: bold;
  color: #e38807;
}

/*-----------------------
        Page access
-----------------------------------------*/
#access__local-01 {
  padding-top: 4vw;
}

#access__local-01 p {
  font-size: 3.8vw;
}

#access__local-01 .text {
  padding: 3.5vw 0;
}

#access__local-01 .table_access {
  margin-top: 1vw;
  margin-bottom: 14vw;
  width: 100%;
  font-size: 4vw;
}

#access__local-01 .table_access td {
  vertical-align: top;
  border-bottom: 2px solid #e2e1dc;
  padding: 3.5vw 0 1.5vw;
  line-height: 1.7;
}

#access__local-01 .table_access td:first-child {
  width: 42%;
  padding-right: 2%;
  font-weight: bold;
}

#access__local-01 .table_access h4 .fa {
  color: #83b6c9;
  padding-right: 1.2vw;
}
