/*-----------------------
        Page index
-----------------------------------------*/
#topPage__local-01 {
  position: relative;
  top: -1.5vw;
}

#topPage__local-01 .section_local {
  background: #d6e6f0;
  padding-bottom: 4.4vw;
}

#topPage__local-01 .container_box {
  background: #ffffff;
  padding-top: 4.6vw;
  padding-left: 5%;
  padding-right: 5%;
}

#topPage__local-01 .text {
  color: #252525;
  font-family: "A-OTF Gothic MB101 Pro", sans-serif;
  padding: 0 0 3.2rem;
  font-size: 4vw;
  line-height: 1.6;
}

#topPage__local-02 {
  color: #252525;
}

#topPage__local-02 .container_box {
  background: #ffffff;
  padding: 6.2vw 6.7% 10vw;
}

#topPage__local-02 .btn_02 {
  padding-top: 6vw;
}

#topPage__local-02 .btn_03 {
  padding-top: 4.6vw;
}

#topPage__local-02 .btn_04 {
  padding-top: 4.4vw;
}

#topPage__local-02 .listMenu li a {
  border: 0.5vw solid #dedede;
  border-top: 0;
  padding: 2.5vw 4.8vw 2.2vw;
  font-size: 4vw;
  line-height: 1.5;
  background: url("../images/root/introduce/arrrow_news_blue.png") no-repeat 99% 92%;
  display: block;
}

#topPage__local-03 {
  background: #f3f3f3;
  padding: 5.2vw 0;
  font-family: "A-OTF Gothic MB101 Pro", sans-serif;
}

#topPage__local-03 .listNews {
  padding-top: 2.5vw;
  font-size: 4vw;
  line-height: 1.5;
}

#topPage__local-03 .listNews dt {
  letter-spacing: 4px;
  padding-top: 3.7vw;
  color: #45859f;
}

#topPage__local-03 .listNews a {
  color: #393939;
  text-decoration: underline;
}

.infoCompany_bottom .container_box {
  padding: 0 6.7% 2.6vw;
}

.infoCompany_bottom .container_box.row_01 {
  background: #ffffff;
  padding: 6.6vw 8.7% 8.2vw;
}

.infoCompany_bottom .btn_02 {
  padding-top: 2.1vw;
}

/*-----------------------
        Page introduce1
-----------------------------------------*/
#intro-01__local-01 {
  background: url("../images/root/introduce/bg_01_A.jpg") no-repeat;
  background-size: 100%;
}

#intro-01__local-01 .title_h2 {
  padding: 4rem 0 2rem;
}

#intro-01__local-01 .title_h3 {
  padding-bottom: 5.6vw;
  font-weight: bold;
}

#intro-01__local-01 .title_h4 {
  padding: 2.5rem 0 2rem;
}

#intro-01__local-01 .text {
  padding-bottom: 7.5vw;
}

#intro-01__local-02 .container_box {
  padding: 2.5vw 6.7%;
}

#intro-01__local-02 .company_info {
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
  padding-top: 8.5vw;
}

#intro-01__local-02 .company_info p {
  font-size: 3.2vw;
  line-height: 3.7rem;
}

#intro-01__local-02 .company_info h4 {
  line-height: 4.7rem;
  font-size: 4.5vw;
  font-weight: normal;
}

/*-----------------------
        Page introduce2
-----------------------------------------*/
#intro-02__local-01 .infoPersonal {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#intro-02__local-01 .listInfo {
  font-size: 4vw;
  line-height: 1.5;
}

#intro-02__local-01 .listInfo .row_info {
  padding: 4.6vw 0 3.3vw;
}

#intro-02__local-01 .listInfo .row_info:not(:last-child) {
  border-bottom: 0.5vw solid #e2e1dc;
}

#intro-02__local-01 .text {
  padding-bottom: 7vw;
}

#intro-02__local-01 .title_A {
  padding-bottom: 2.2vw;
  padding-left: 5.6vw;
  background: url("../images/root/introduce/ico_circle.png") no-repeat 0% 15%;
  background-size: 5%;
}

#intro-02__local-01 .list_content_info li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#intro-02__local-01 .list_content_info .col_01 {
  width: 19.6vw;
}

#intro-02__local-01 .list_content_info .col_02 {
  width: 62.9vw;
}

/*-----------------------
        Page introduce3
-----------------------------------------*/
#intro-03__local-01 {
  padding-bottom: 2vw;
}

#intro-03__local-01 .title_h2.first {
  padding: 5vw 0 5.6vw;
}

#intro-03__local-01 .row_news .text {
  padding: 3vw 0 6.5vw;
}

/*-----------------------
        Page introduce4
-----------------------------------------*/
#intro-04__local-01 .post {
  padding-top: 4.2vw;
}

#intro-04__local-01 .post .title_h2 {
  font-size: 4.8vw;
  color: #4e8d8f;
  border-bottom: 0.6vw solid #4e8d8f;
  padding-bottom: 1.6vw;
  margin-bottom: 4.2vw;
}

#intro-04__local-01 .post .description {
  padding-top: 4vw;
}

#intro-04__local-01 .document_post {
  margin: 3.3vw 0 10.6vw;
  border: 2px solid #4e8d8f;
  text-align: center;
  font-size: 4.6vw;
  padding-bottom: 2.6vw;
}

#intro-04__local-01 .document_post li {
  padding-top: 2.6vw;
}

/*-----------------------
        Responsive for device < 680px
-----------------------------------------*/
@media screen and (max-width: 680px) {
  html {
    font-size: 7px;
  }
}

/*-----------------------
        Responsive for device < 590px
-----------------------------------------*/
@media screen and (max-width: 590px) {
  html {
    font-size: 5px;
  }
}
